body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-links {
  text-decoration: none;
  margin: 0 20px 0 30px;
  font-size: 30px;
}

.shaka {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.shaka img {
  height: 40px;
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.shaka h4 {
  color: rgb(246, 88, 252);
  text-decoration: wavy;
  font-family: fantasy;
  font-size: 5rem;
}
h2 {
  text-decoration: none;
}

.h3 {
  text-decoration: none;
}
.form-group {
  width: 400px;
  padding-bottom: 30px;
}
.margin-bottom {
  margin-bottom: 40px;
}

.logo {
  border-radius: 20px;
  height: 100px;
}
.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.small-avatar {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-bottom: 10px;
}

.row-above-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.row-above-event h6 {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  margin-left: 20px;
}

.event-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.eventPic {
  height: 200px;
  width: 400px;
  margin-bottom: 10px;
  margin-top: -5px;
  border: 10px solid rgb(250, 245, 194);
  box-shadow: 4px 4px 8px rgb(48, 47, 47);
}
.eventPic-list {
  height: 200px;
  width: 400px;
  margin-bottom: 100px;
  margin-top: -5px;
  border: 10px solid rgb(250, 245, 194);
  box-shadow: 4px 4px 8px rgb(48, 47, 47);
}

.eventPic1 {
  height: 300px;
  width: 500px;
  margin-bottom: 30px;
  margin-top: -5px;
  border: 10px solid rgb(250, 245, 194);
  box-shadow: 4px 4px 8px rgb(48, 47, 47);
}

.call {
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(58, 56, 56);
  font-family: Bradley Hand, cursive;
  font-size: 13vw;
  margin-left: 20px;
}

.create-event {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgb(72, 71, 71);
  background-color: rgb(3, 206, 3);
  color: rgb(251, 253, 255);
  margin-left: 20px;
  padding: 10px;
  width: 140px;
  text-decoration: none;
}

.create-sess {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.create-sess h6 {
  color: rgb(14, 8, 4);
  font-size: 2vw;
  font-family: "Times New Roman", Times, serif;
}

.header2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.logout {
  background-color: rgb(44, 44, 207);
  width: 150px;
  color: rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.mynav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(249, 128, 23, 0.975);
}

.upcoming-events {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 8vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(97, 96, 94);
}

.events-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: rgb(28, 77, 236);
}

.event-detail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
}
.event-detail h2 {
  margin-top: 30px;
  text-align: center;
  color: rgb(77, 76, 74);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 7vw;
}
.event-detail h3 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(97, 96, 94);
  margin-top: 20px;
}

.event-detail h6 {
  font-size: 2vw;
}
.event-detail h5 {
  font-size: 2vw;
}
.event-detail button {
  margin-left: 10px;
}
.desc {
  width: 300px;
}
.add-event-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-event {
  width: 700px;
  background-color: rgba(158, 244, 247, 0.411);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}
.add-event h2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 4vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(97, 96, 94);
}
.add-event input {
  margin: 5px;
  box-shadow: 2px 2px 6px rgb(175, 175, 253);
  margin-bottom: 10px;
}
.add-event label {
  display: block;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: -5px;
}
.add-event Button {
  text-align: center;
  margin-bottom: 30px;
  color: aliceblue;
  background-color: rgb(74, 150, 236);
}
.add-event textarea {
  margin: 5px;
  box-shadow: 2px 2px 6px rgb(175, 175, 253);
  margin-bottom: 10px;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.containerStyle {
  width: "3rem";
  height: "3rem";
  box-sizing: "border-box";
}
.loading {
  background-color: rgba(249, 128, 23, 0.975);
  margin-top: -30px;
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.logo-loading {
  height: 80px;
  border-radius: 20px;
  margin-bottom: 60px;
}

.avatar-page {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
}

.avatar-page Button {
  margin-left: 20px;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(108, 158, 250, 0.637);
  width: 120px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  margin-right: 80px;
}
.link1 {
  text-decoration: none;
  color: aliceblue;
}
.edit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
}
.avatar-page-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  font-size: 4vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(97, 96, 94);
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.column input {
  margin: 20px;
}

.comments {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  margin-bottom: 10px;
}
.owner {
  margin-right: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 20px;
}
#navbar {
  padding: 0 20px 0 20px;
}
.nav-link {
  text-decoration: none;
  margin-left: 30px;
}
